/* header */
header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 350px;
    background-color: rgb(97, 206, 225);
    padding-top: 40px;
    padding-bottom: 5px;
}

#logo {
    width: 170px;
    height: auto;
}

/* footer */
#suggestions {
    font-size: 15px;
    font-weight: 600;
    color: rgb(132, 131, 131);
}

#image-footer-one {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: white;
    font-size: 18x;
    text-align: left;
    font-weight: 600;
    width: 240px;
    height: 150px;
    padding-top: 3px;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#image-footer-two {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: white;
    font-size: 18x;
    text-align: left;
    font-weight: 600;
    width: 240px;
    height: 150px;
    padding-top: 3px;
    padding-left: 5px;
}